<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title 
      (click)="abrirAdmin()" 
      style="font-weight: 800; letter-spacing: 1px; cursor: pointer;">
      DIVINA ARTESANÍA
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar 
      placeholder="¿Qué artesanía buscas?" 
      (ionInput)="buscarProducto($event)" 
      animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container-cards">
    <ion-card *ngFor="let p of productosFiltrados" class="producto-card">
      
      <div class="image-wrapper" [routerLink]="['/detalle', p.id]">
        <img [src]="p.imagen" alt="{{ p.nombre }}" />
      </div>

      <div class="card-branding">
        <div class="icon-box">
          <ion-icon [name]="getIcono(p.categoria)"></ion-icon>
        </div>
        <span class="categoria-label">{{ p.categoria }}</span>
      </div>

      <ion-card-header [routerLink]="['/detalle', p.id]">
        <ion-card-title class="titulo-producto">{{ p.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <h2 class="precio-texto">${{ p.precio | number:'1.0-0' }}</h2>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <div style="display: flex; justify-content: flex-end; align-items: center;">
              <ion-button fill="clear" (click)="quitarRapido(p, $event)">
                <ion-icon slot="icon-only" name="remove-circle" color="medium"></ion-icon>
              </ion-button>
              
              <ion-button fill="clear" (click)="agregarRapido(p, $event)" [disabled]="p.stock <= 0">
                <ion-icon slot="icon-only" name="add-circle" color="primary" style="font-size: 28px;"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        
        <ion-badge [color]="p.stock > 0 ? 'success' : 'danger'">
          Stock: {{ p.stock }}
        </ion-badge>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="listaProductos.length === 0">
    <ion-card *ngFor="let i of [1,2,3]">
      <ion-skeleton-text [animated]="true" style="height: 180px;"></ion-skeleton-text>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/carrito">
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="danger" *ngIf="(cartItemCount | async) ?? 0 > 0">
        {{ cartItemCount | async }}
      </ion-badge>
    </ion-fab-button>
  </ion-fab>

</ion-content>