.image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.producto-titulo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.precio {
  color: var(--ion-color-success);
  font-size: 1.4rem;
  font-weight: bold;
}