// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
/* Busca la sección :root y cambia estas variables */
:root {
  --ion-color-primary: #8d6e63; /* Un café madera elegante */
  --ion-color-primary-rgb: 141,110,99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #7c6157;
  --ion-color-primary-tint: #987d73;

  --ion-color-secondary: #f5f5dc; /* Beige para fondos rústicos */
  --ion-color-tertiary: #5d4037;  /* Café oscuro para acentos */
}